<p id="notice"><%= notice %></p>

<div id="wrapper">
  <div id="wrapp">
    <div id="slika">
      <%=image_tag @link.avatar.url(:thumb) %>
    </div>
    <div id="head">
      <div id="dugmici">
        <h3 id="title"><strong>&nbspTitle: </strong> <%= @link.title %></h3>
        <p id="url"><strong>&nbsp&nbsp&nbspUrl: </strong><a><%= @link.url %></a></p>
        <% if @link.user == current_user -%>
          <div class="btn-group">
            <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
            <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    



  <div class="link">
    <h3>
      <%= @link.comments.count %> Comments
    </h3>

    <hr>

    <div>
      <%= render :partial => @link.comments %>
    </div>
  </div>

  <%= simple_form_for [@link, Comment.new]  do |f| %>
    <div class="link">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
</div>



